{{define "body"}}

<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">

  <div class="col-span-1 bg-surface-1 text-neutral-10 p-8 sm:p-16 rounded-xl">
    <h1 class="text-6xl sm:text-8xl font-medium mb-2">Example</h1>
    <div class="text-lg sm:text-xl">The following TODO component shows how HTMX and Alpine JS can be used for Server and
      Client
      side interactivity respectively.</div>
  </div>

  <div class="col-span-1">
    <div class="flex justify-center rounded-lg overflow-hidden bg-no-repeat bg-cover p-4 mb-4 "
      style="background-image: url(&quot;https://lh3.googleusercontent.com/pWbl6FPTMdm0gncq3dhWuCzk8y0RIb52ilgtyW8FesqxTC5Ey92D_79pulpl-q5uf_VKJV-eT07mshP9vZLH6jH9FBaQH5DH4F4TwIfDlps3g587KNg=w1200-rj&quot;);">
      <div id="todo"
        class="max-w-lg h-96 flex flex-col gap-4 bg-blue mx-auto bg-surface-1 text-color-neutral-10 p-4 rounded-xl">
        {{ template "todo" . }}
      </div>
    </div>

    <md-navigation-bar active-index="0" x-data="{ 
    activeTabId: 'server', 
    handleTabClick(event) {
      if(event.target.id !== this.activeTabId) {
        $dispatch(`navigationtabclicked${event.target.id}`, { bubbles: true })
        this.activeTabId = event.target.id;
      }
    }
  }">
      <md-navigation-tab id="server" label="Server" active @click="handleTabClick">
        <span slot="activeIcon" class="material-symbols-outlined"
          style="font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;">dns</span>
        <span slot="inactiveIcon" class="material-symbols-outlined"
          style="font-variation-settings: 'FILL' 0 , 'wght' 400, 'GRAD' 0, 'opsz' 48;">dns</span>
      </md-navigation-tab>
      <div x-data @navigationtabclickedserver.document="$el.click()" hx-get="/example/todossr" hx-target="#todo"
        hx-swap="innerHTML"></div>

      <md-navigation-tab id="client" label="Client" @click="handleTabClick">
        <span slot="activeIcon" class="material-symbols-outlined"
          style="font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;">person</span>
        <span slot="inactiveIcon" class="material-symbols-outlined"
          style="font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;">person</span>
      </md-navigation-tab>
      <div x-data @navigationtabclickedclient.document="$el.click()" hx-get="/example/todocsr" hx-target="#todo"
        hx-swap="innerHTML"></div>
    </md-navigation-bar>
  </div>
</div>
{{end}}