<div hx-get="{{.FullPage}}" hx-trigger="load" hx-target="#example-pages-body" hx-swap="innerHTML"
  hx-indicator="#spinner">
</div>


<div>
  <div id="example-pages-body"
    class="fade-in min-h-[384px] overflow-hidden flex flex-col gap-4 bg-blue mx-auto text-color-neutral-10 bg-secondary-container rounded-3xl">
    <md-circular-progress slot="trailing-icon" indeterminate class="htmx-indicator m-auto" id="spinner" role="status"
      aria-hidden="true">
    </md-circular-progress>
  </div>

  <md-navigation-bar active-index="0">
    <md-navigation-tab label="Page" hx-get="{{.FullPage}}" hx-target="#example-pages-body" hx-swap="innerHTML">
      <md-icon slot="active-icon">
        <span class="material-symbols-outlined"
          style="font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;">html</span>
      </md-icon>
      <md-icon slot="inactive-icon">
        <span class="material-symbols-outlined"
          style="font-variation-settings: 'FILL' 0 , 'wght' 400, 'GRAD' 0, 'opsz' 48;">html</span>
      </md-icon>
    </md-navigation-tab>

    <md-navigation-tab label="Body" hx-get="{{.Body}}" hx-target="#example-pages-body" hx-swap="innerHTML">
      <md-icon slot="active-icon">
        <span class="material-symbols-outlined"
          style="font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;">article</span>
      </md-icon>
      <md-icon slot="inactive-icon">
        <span class="material-symbols-outlined"
          style="font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;">article</span>
      </md-icon>
    </md-navigation-tab>
  </md-navigation-bar>
</div>