@font-face {
  font-family: 'Google';
  src: url("https://fonts.gstatic.com/s/googlesanstext/v21/5aUu9-KzpRiLCAt4Unrc-xIKmCU5qEp2i0VBuxM.woff2");
  font-weight: normal;
}

@font-face {
  font-family: 'Google-Bold';
  src: url("https://fonts.gstatic.com/s/googlesanstext/v21/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oLlVnmhjtjm4DZw.woff2");
  font-weight: bold;
}

:root {
  font-family: 'Google', sans-serif;
}