@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Google';
  src: url("https://fonts.gstatic.com/s/googlesanstext/v21/5aUu9-KzpRiLCAt4Unrc-xIKmCU5qEp2i0VBuxM.woff2");
  font-weight: normal;
}

@font-face {
  font-family: 'Google-Bold';
  src: url("https://fonts.gstatic.com/s/googlesanstext/v21/5aUp9-KzpRiLCAt4Unrc-xIKmCU5oLlVnmhjtjm4DZw.woff2");
  font-weight: bold;
}

.dark {
  --md-sys-color-on-surface-variant-2: linear-gradient(0deg, rgba(196, 200, 187, .08), rgba(196, 200, 187, .08));
  --md-sys-color-on-surface-variant-4: linear-gradient(0deg, rgba(196, 200, 187, .12), rgba(196, 200, 187, .12));
  --md-sys-color-on-surface-2: linear-gradient(0deg, rgba(227, 227, 220, .08), rgba(227, 227, 220, .08)), var(--md-sys-color-secondary-container);
  --md-sys-color-on-surface-4: linear-gradient(0deg, rgba(227, 227, 220, .12), rgba(227, 227, 220, .12)), var(--md-sys-color-secondary-container);
  --md-sys-color-white: #fff;
  --md-sys-color-on-background: #e3e3dc;
  --md-sys-color-background: #1a1c18;
  --md-sys-color-on-surface: #e3e3dc;
  --md-sys-color-on-surface-variant: #c4c8bb;
  --md-sys-color-surface-0: #1a1c18;
  --md-sys-color-surface-variant: #43493e;
  --md-sys-color-surface-1: #232820;
  --md-sys-color-surface-2: #272e23;
  --md-sys-color-surface-3: #2b3326;
  --md-sys-color-surface-4: #2c3527;
  --md-sys-color-surface-5: #2f3929;
  --md-sys-color-inverse-surface: #2f312c;
  --md-sys-color-inverse-on-surface: #f1f1ea;
  --md-sys-color-primary: #9cd67d;
  --md-sys-color-primary-80: #9cd67d;
  --md-sys-color-primary-30: #205107;
  --md-sys-color-primary-20: #0c3900;
  --md-sys-color-neutral-10: #1a1c18;
  --md-sys-color-neutral-90: #e3e3dc;
  --md-sys-color-on-primary: #0c3900;
  --md-sys-color-primary-container: #205107;
  --md-sys-color-on-primary-container: #b8f397;
  --md-sys-color-secondary: #bdcbb0;
  --md-sys-color-on-secondary: #273420;
  --md-sys-color-secondary-container: #3e4a36;
  --md-sys-color-on-secondary-container: #d9e7cb;
  --md-sys-color-tertiary-container: #1e4e4e;
  --md-sys-color-on-tertiary-container: #bbebeb;
  --md-sys-color-utility-error: #ffb4a9;
  --md-sys-color-utility-on-error: #680003;
  --md-sys-color-utility-outline: #8d9286;
}

:root {
  font-family: 'Google', sans-serif;
  --md-ref-typeface-plain: 'Google';
  --md-sys-color-on-surface-variant-2: linear-gradient(0deg, rgba(67, 73, 62, .08), rgba(67, 73, 62, .08));
  --md-sys-color-on-surface-variant-4: linear-gradient(0deg, rgba(67, 73, 62, .12), rgba(67, 73, 62, .12));
  --md-sys-color-on-surface-2: linear-gradient(0deg, rgba(26, 28, 24, .08), rgba(26, 28, 24, .08)), var(--md-sys-color-secondary-container);
  --md-sys-color-on-surface-4: linear-gradient(0deg, rgba(26, 28, 24, .12), rgba(26, 28, 24, .12)), var(--md-sys-color-secondary-container);
  --md-sys-color-white: #fff;
  --md-sys-color-on-background: #1a1c18;
  --md-sys-color-background: #fdfdf6;
  --md-sys-color-on-surface: #1a1c18;
  --md-sys-color-on-surface-variant: #43493e;
  --md-sys-color-surface: #FAFDFC;
  --md-sys-color-surface-0: #fdfdf6;
  --md-sys-color-surface-variant: #dfe4d6;

  --md-sys-color-inverse-surface: #2f312c;
  --md-sys-color-inverse-on-surface: #f1f1ea;
  --md-sys-color-primary: #386a20;
  --md-sys-color-primary-80: #9cd67d;

  --md-sys-color-primary-30: #205107;
  --md-sys-color-primary-20: #0c3900;
  --md-sys-color-on-primary: #fff;
  --md-sys-color-primary-container: #b8f397;
  --md-sys-color-on-primary-container: #042100;
  --md-sys-color-secondary: #55624c;
  --md-sys-color-on-secondary: #fff;
  --md-sys-color-secondary-container: #d9e7cb;
  --md-sys-color-on-secondary-container: #131f0d;
  --md-sys-color-tertiary-container: #bbebeb;
  --md-sys-color-on-tertiary-container: #002021;
  --md-sys-color-utility-error: #ba1b1b;
  --md-sys-color-utility-on-error: #fff;
  --md-sys-color-utility-outline: #74796e;
  --md-sys-color-surface-1: #f0f3e8;
  --md-sys-color-surface-2: #ebefe2;
  --md-sys-color-surface-3: #e5eadc;
  --md-sys-color-surface-4: #e3e9da;
  --md-sys-color-surface-5: #dfe6d5;
  --md-sys-color-ref-secondary-200: #bdcbb0;
  --md-sys-color-ref-secondary-300: #a1b095;
  --md-sys-color-neutral-10: #1f1f1f;
  --md-sys-color-neutral-90: #e3e3e3;
  --md-sys-color-ref-neutral-100: #e3e3e3;
  --md-sys-color-ref-neutral-200: #c7c7c7;
  --md-sys-color-pre-primary: #f3f6ea;

  --md-filled-button-label-text-type: 500 0.875rem/1.25rem system-ui;
  --md-outlined-field-label-text-type: 500 0.875rem/1.25rem system-ui;

  --md-circular-progress-size: 32px;
  --md-circular-progress-active-indicator-width: 20;

  --md-navigation-bar-container-color: var(--md-sys-color-surface-2);
  --md-navigation-bar-container-elevation: 0;
  --md-navigation-bar-container-shape: 9999px;
  --md-navigation-bar-active-indicator-shape: var(--md-navigation-bar-active-indicator-shape);

  --md-navigation-drawer-container-color: var(--md-sys-color-surface-2);
  --md-navigation-drawer-modal-modal-container-elevation: 5;
  --md-navigation-drawer-modal-container-color: var(--md-sys-color-surface-2);
  --md-navigation-drawer-modal-container-width: 320px;
  --md-navigation-drawer-modal-container-height: 100vh;

  --md-list-container-color: var(--md-sys-color-surface-2);

  --md-list-item-label-text-color: var(--md-sys-color-on-surface-variant);
  --md-list-item-container-color: var(--md-sys-color-surface-2);
  --md-list-item-container-shape: 999px;
  --md-list-item-leading-icon-size: 24px;
  --md-list-item-focus-label-text-color: var(--md-sys-color-on-surface);
  --md-list-item-focus-leading-icon-icon-color: var(--md-sys-color-on-surface);
  --md-list-item-focus-trailing-icon-icon-color: var(--md-sys-color-on-surface);
  --md-list-item-leading-icon-color: var(--md-sys-color-on-surface-2);
  --md-list-item-trailing-icon-color: var(--md-sys-color-on-surface-2);

  --md-list-item-container-shape: var(--md-list-item-list-item-container-shape);
  /* 
  --md-navigation-drawer-modal-scrim-color: black;
*/
  --md-navigation-drawer-modal-scrim-opacity: 0.32;
}


@media screen and (min-width: 1024px) {
  :root {
    --md-navigation-drawer-modal-container-width: 220px;
  }
}

#markdown {
  @apply text-on-background;
}

#markdown h1,
#markdown h2,
#markdown h3,
#markdown h4,
#markdown h5,
#markdown h6 {
  @apply font-bold;
}

#markdown h1 {
  @apply text-6xl mb-6 mt-8;
}

#markdown h2 {
  @apply text-4xl mt-6 mb-4;
}

#markdown h3 {
  @apply text-2xl mt-4;
}

#markdown h4 {
  @apply text-xl my-2;
}

#markdown a {
  @apply text-primary underline;
}

#markdown a:hover {
  @apply text-on-primary-container;
}


#markdown code {
  @apply bg-surface-variant px-1 rounded;
}

#markdown pre {
  @apply border-surface-variant border bg-pre-primary p-4 rounded-xl overflow-auto;
}

#markdown pre code {
  @apply bg-transparent p-0;
}

#markdown ol {
  @apply p-0 mt-4;
}

#markdown ol li {
  @apply relative mt-[4px] mb-[20px] ml-[36px];
  counter-increment: item;
}

#markdown ol li:before {
  content: counter(item);
  @apply absolute bg-black text-white rounded-full h-8 w-6 flex items-center justify-center -left-8 text-[14px] -mt-[4px];
}

#markdown ul {
  @apply ml-[22px] mt-4;
}

#markdown ul li {
  @apply relative mb-[16px]
}

#markdown ul li:before {
  @apply inline-block absolute top-2 -left-4 w-2 h-2 leading-none text-center;
  content: "";
  background-image: url("https://m3.material.io/static/assets/list-bullet.svg");
}

hr {
  @apply mt-[48px] bg-[#d9e7cb] h-0.5
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(90px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-90px);
  }
}

@keyframes slide-from-bottom {
  from {
    transform: translateY(15px);
  }
}

.slide-up {
  view-transition-name: slide-up;
}

::view-transition-old(slide-up) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
}

::view-transition-new(slide-up) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 45ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom;
}