{{define "nav"}}

<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div x-data="{ 
    activeTabRef: $refs.{{.ActiveTabId}}, 
    changeUrl(newUrl) {
        history.pushState({}, '', newUrl);
    },
    handleTabClick(event) {
      if(event.target.id !== this.activeTabRef.id) {
        this.activeTabRef.active = false;
        event.target.active = true;
        this.activeTabRef = event.target;
      }
    }
  }">

  <!-- Computer View -->
  <div class="hidden lg:flex h-screen bg-surface-2">
    <md-list active-index="0" class="m-3" hx-boost="true">

      <a href="/" hx-target="#body" hx-swap="innerHTML">
        <md-navigation-tab {{if .HomeActive}}active{{end}} id="home" label="Home" x-ref="home"
          @click="($refs.docsdrawer.opened) && ($refs.docsdrawer.opened = false); handleTabClick($event);">
          <span slot="activeIcon" class="material-symbols-outlined pointer-events-none"
            style="font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;">home</span>
          <span slot="inactiveIcon" class="material-symbols-outlined pointer-events-none"
            style="font-variation-settings: 'FILL' 0 , 'wght' 400, 'GRAD' 0, 'opsz' 48;">home</span>
        </md-navigation-tab>
      </a>

      <a href="/example" hx-target="#body" hx-swap="innerHTML">
        <md-navigation-tab {{if .ExampleActive}}active{{end}} id="example" label="Example" x-ref="example"
          @click="($refs.docsdrawer.opened) && ($refs.docsdrawer.opened = false); handleTabClick($event);">
          <span slot="activeIcon" class="material-symbols-outlined pointer-events-none"
            style="font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;">code</span>
          <span slot="inactiveIcon" class="material-symbols-outlined pointer-events-none"
            style="font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;">code</span>
        </md-navigation-tab>
      </a>

      <a href="/docs/introduction" hx-target="#body" hx-swap="innerHTML">
        <md-navigation-tab {{if .DocsActive}}active{{end}} id="docs" label="Docs" x-ref="docs"
          @click="(!$refs.docsdrawer.opened) && ($refs.docsdrawer.opened = true); handleTabClick($event);">
          <span slot="activeIcon" class="material-symbols-outlined pointer-events-none"
            style="font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;">book</span>
          <span slot="inactiveIcon" class="material-symbols-outlined pointer-events-none"
            style="font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;">book</span>
        </md-navigation-tab>
      </a>

    </md-list>

    <!-- Docs Drawer -->
    <md-navigation-drawer-modal x-ref="docsdrawer" pivot="start" active-index="0" {{if .DocsActive}}opened{{end}}>
      <md-list listTabIndex="0" class="h-full bg-surface-2 z-10 px-2 border-l border-surface-variant" hx-boost="true">
        <a href="/docs/introduction" hx-target="#body" hx-select="#body" hx-swap="innerHTML">
          <md-list-item headline="Introduction" id="introduction">
          </md-list-item>
        </a>
        <a href="/docs/routing-fundamentals" hx-target="#body" hx-select="#body" hx-swap="innerHTML">
          <md-list-item headline="Routing" id="routing-fundamentals">
          </md-list-item>
        </a>
        <a href="/docs/pre-rendered-routes" hx-target="#body" hx-select="#body" hx-swap="innerHTML">
          <md-list-item headline="Pre-Rendering" id="pre-rendered-routes">
          </md-list-item>
        </a>
        <a href="/docs/custom-handling" hx-target="#body" hx-select="#body" hx-swap="innerHTML">
          <md-list-item headline="Custom Handling" id="custom-handling">
          </md-list-item>
        </a>
        <a href="/docs/spa-vs-mpa" hx-target="#body" hx-select="#body" hx-swap="innerHTML">
          <md-list-item headline="SPA vs MPA" id="spa-vs-mpa">
          </md-list-item>
        </a>
        <a href="/docs/client-side-routing" hx-target="#body" hx-select="#body" hx-swap="innerHTML">
          <md-list-item headline="Client Side Routing" id="client-side-routing">
          </md-list-item>
        </a>
      </md-list>
    </md-navigation-drawer-modal>
  </div>

  <!-- Mobile View -->
  <div class="lg:hidden w-[320px]">
    <md-icon x-on:click="$refs.drawer.opened = true"
      class="my-2 ml-3 h-12 w-12 flex items-center justify-center cursor-pointer">
      <span class="material-symbols-outlined"
        style="font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;">
        menu
      </span>
    </md-icon>
    <md-navigation-drawer-modal x-ref="drawer" pivot="start" active-index="0">
      <md-icon x-on:click="$refs.drawer.opened = false"
        class="my-2 ml-3 h-12 w-12 flex items-center justify-center cursor-pointer">
        <span class="material-symbols-outlined"
          style="font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;">
          menu_open
        </span>
      </md-icon>

      <md-list listTabIndex="0" class="h-full bg-surface-2 z-10 mt-2 px-4">
        <md-list-item {{if .HomeActive}}active{{end}} headline="Home" id="home" @click="handleTabClick">
          <md-icon slot="start" data-variant="icon">
            <span class="material-symbols-outlined"
              style="font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;">
              home
            </span>
          </md-icon>
        </md-list-item>
        <md-list-item {{if .ExampleActive}}active{{end}} headline="Example" id="example" @click="handleTabClick">
          <md-icon slot="start" data-variant="icon">
            <span class="material-symbols-outlined"
              style="font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;">
              more_horiz
            </span>
          </md-icon>
        </md-list-item>
        <md-list-item {{if .DocsActive}}active{{end}} headline="Docs" id="docs" @click="handleTabClick">
          <md-icon slot="start" data-variant="icon">
            <span class="material-symbols-outlined"
              style="font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;">
              book
            </span>
          </md-icon>
          <md-icon slot="end">
            <span class="material-symbols-outlined"
              style="font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;">
              arrow_right_alt
            </span>
          </md-icon>
        </md-list-item>
      </md-list>
    </md-navigation-drawer-modal>
  </div>
</div>


<!--
    MD-NAVIGATION TAB
    disabled: This is a boolean attribute. When present, it means the tab is not active or cannot be interacted with.

    active: This is a boolean attribute. When present, it means the tab is currently active or selected.

    hideInactiveLabel: This is a boolean attribute. When present, the label on the tab will be hidden when the tab is inactive.

    label: This attribute is used to set the label text of the tab.

    badgeValue: This attribute is used to set the value of the badge on the tab. The badge typically shows a number to indicate new messages, notifications, etc.

    showBadge: This is a boolean attribute. When present, it means a badge will be shown on the tab.

    slot="inactiveIcon": This is used to define the icon to be displayed when the tab is inactive.

    slot="activeIcon": This is used to define the icon to be displayed when the tab is active.
  -->

<!--
    MD-NAVIGATION-BAR  
    active-index: This attribute is a Number type and indicates the currently active tab in the navigation bar. It is represented by the index of the tab in the array of tabs. So if you have three tabs and you want the second one to be active, you would set active-index="1". Remember that array indexes start at zero in JavaScript.

    hide-inactive-labels: This attribute is a Boolean type and determines whether the labels for inactive tabs are hidden or not. If set to true, the labels for tabs that are not currently active will be hidden. If set to false, the labels for all tabs will be displayed regardless of their active status.
  -->

{{end}}