<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Examples - GoX Framework</title>
  <script src="https://unpkg.com/htmx.org@1.9.6"
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
    crossorigin="anonymous"></script>
  <script src="/static/js/bundle.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
  <link href="/static/css/output.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css" rel="stylesheet" />
  <link href="/static/css/prism.css" rel="stylesheet" />
  <link href="/static/css/prism.css" rel="stylesheet" />
  <meta name="htmx-config" content='{"globalViewTransitions":"true"}'>
</head>

<body class="flex flex-col items-start lg:flex-row bg-background">
  <header class="lg:sticky lg:top-0 lg:left-0">
    {{ block "nav" . }}{{end}}
  </header>


  <div class="w-full">
    <div x-data="{ 
    init() {
      $refs.docsdrawer.opened=true;
    },
    activeTabRef: $refs.{{.ActiveExampleId}}, 
    handleTabClick(event) {
      if(event.target.id !== this.activeTabRef.id) {
        this.activeTabRef.style.background = 'transparent';
        event.target.style.background = 'var(--md-sys-color-secondary-container)';
        this.activeTabRef = event.target;
      }
    }
  }" class="hidden lg:flex h-screen fixed">
      <md-navigation-drawer-modal x-ref="docsdrawer" pivot="start" active-index="0">
        <md-list listTabIndex="0" class="h-full bg-surface-2 z-10 px-2 border-l border-surface-variant" hx-boost="true">
          <a href="/examples/todo">
            <md-list-item x-ref="todo" id="todo" interactive type="link" @click="handleTabClick($event);" {{if eq
              .ActiveExampleId "todo" }} class="rounded-full bg-secondary-container" {{else}} class="rounded-full"
              {{end}}>
              Todo
            </md-list-item>
          </a>
          <a href="/examples/data">
            <md-list-item x-ref="data" id="data" interactive type="link" @click="handleTabClick($event);" {{if eq
              .ActiveExampleId "data" }} class="rounded-full bg-secondary-container" {{else}} class="rounded-full"
              {{end}}>
              Data
            </md-list-item>
          </a>
          <a href="/examples/render">
            <md-list-item x-ref="render" id="render" interactive type="link" @click="handleTabClick($event);" {{if eq
              .ActiveExampleId "render" }} class="rounded-full bg-secondary-container" {{else}} class="rounded-full"
              {{end}}>
              Render
            </md-list-item>
          </a>
          <a href="/examples/pages">
            <md-list-item x-ref="pages" id="pages" interactive type="link" @click="handleTabClick($event);" {{if eq
              .ActiveExampleId "pages" }} class="rounded-full bg-secondary-container" {{else}} class="rounded-full"
              {{end}}>
              Pages
            </md-list-item>
          </a>
        </md-list>
      </md-navigation-drawer-modal>
    </div>

    <div class="flex flex-col lg:ml-drawer-width w-100">

      <main class="gap-2 p-2 pb-4">
        {{ block "page" . }}{{end}}
      </main>

    </div>

  </div>

</body>

</html>